{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div style="margin-left: 33%; margin-top: 20%; max-width: 37%; text-align: center;">
        <div class="row" style="">
            <h1 class="fade-in">Plant Classy Project <img src="{{ url_for('static', filename='img/logo.png') }}" style="width: 100px; height: 100px;"></h1>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-sm" style="">
                <a href="{{ url_for('main') }}" class="btn btn-link" style="font-size: large;">Get started</a>
            </div>
        </div>
    </div>
{% endblock %}