{% extends "layout.html" %}
{% block title %}Main{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<form action="" method="POST">
    <div class="row" style="margin: 20%;">
        <div class="col-sm">
            <div class="mb-3" style="text-align: center;">
                <img src="{{ url_for('static', filename='img/default.jpg') }}" height="auto" width="50%"
                    style="border: solid black;">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label bold-font">Upload File</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <div class="mb-3">
                <div class="row">
                    <label for="exampleFormControlInput1" class="form-label bold-font">Plant species</label>
                    <div class="col-sm">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Tomato
                            </label>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Sugarcane
                            </label>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Corn
                            </label>
                        </div>
                    </div>
                </div>


            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary bold-font">Submit</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}