name: Discord Push Notification # This is the name that will appear in the GitHub Actions tab

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Discord notification
      uses: Ilshidur/action-discord@master
      env:
        DISCORD_WEBHOOK: https://discord.com/api/webhooks/1381602440872329256/3jlZKe94gtfGkSkbTYxf7SnK1byyA87r9W2GxYelJ-ioFgHU2XK8Wud6HJiFGPSFjNu4
        DISCORD_EMBEDS: '{
                          "embeds": [{
                            "description": "Time travel!",
                            "timestamp": "2015-12-31T12:00:00.000Z"
                          }]
                        }'
      with:
        args: '${{ toJson(DISCORD_EMBEDS) }}'
