name: Discord Push Notification # This is the name that will appear in the GitHub Actions tab

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Discord Webhook Action
        uses: tsickert/discord-webhook@v7.0.0
        with:
          raw-data: message.json
